:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #333;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

nav ul li {
  margin: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}
/* Home */
.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profilepic {
  border-radius: 10%;
  width: 400px;
  margin: 30px;
}
.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color: #333;
  
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}
/* About */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.profilepic1  {
  border-radius: 50%;
  width: 400px;
  margin: 30px;
}

.subtopic{
  margin: 10px 10px 30px 10px !important;
}

p {
  font-size: var(--fontsize-p);
}

/* Login */

.login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  min-height: 100vh;
  background: #fafafa;
}
.container{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 1526px;
  
}
.form{
  padding: 10px 50px 20px 30px;
  align-items: center;
  margin-left: 500px;

}
h2{
  text-align: center;
  margin: 0 0 0 0px;
  padding: 20px 20px 20px 20px;
  color: #3498db;
  font-size: var(--typing-font)
}

.form-control{
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.form-control label{
  display: block;
  margin-bottom: 5px;
}
.form-control input{
  display: block;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  width: 50%;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px;
  font-size: 14px
}
.form-control input:focus{
 outline: none;
}

.form button{
  background: #3498db;
  cursor:pointer;
  color: white;
  width: 20%;
  margin-top: 20px;
  margin-left: 150px;
  border: 2px solid #3498db;
  display: block;
  padding: 10px;
  font-size: 16px;
}